#hero {
  padding-top: 10vh;
  padding-bottom: 0;
  height: 80vh;
  min-height: 600px;
}

#hero .small-heading-1 {
  margin-bottom: 20px;
}

#hero .description-1 {
  max-width: 700px;
  margin-bottom: 40px;
}

.face-name {
  display: flex;
  flex-direction: row;
}
.face-name img {
  height: 80px;
  margin-right: 20px;
}

#about a {
  color: var(--orange);
}

#skills {
  padding: 0px inherit;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-item {
  margin-top: 20px;
}
.skill-item::before {
  content: url("./components/Skills/arrow.svg");
  display: inline-block;
  width: 10px;
  height: 20px;
  margin-right: 20px;
}

.skill-icon {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.section-number {
  font-family: var(--secondary-font);
  color: var(--orange);
  font-size: 20px;
  margin-right: 10px;
}

@media screen and (max-width: 750px) {
  .face-name img {
    height: 60px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 500px) {
  .face-name img {
    height: 50px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 355px) {
  .face-name img {
    height: 40px;
    margin-right: 5px;
  }
}
